{% extends "base.html" %}

{% block title %}Language Tandem · INCAS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <h1 class="h3 mb-4">Language Tandem</h1>

        {% include "forms/_language_tandem_form.html" %}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/language-picker.js') }}"></script>
    <script>
        initOccupationOther();

        initLanguagePicker({
            offered: {
                options: JSON.parse(document.getElementById("offered_language_options_json").textContent),
                selected: {{ values.offered_languages|tojson }},
                levels: {{ values.offered_language_levels|tojson }}
            },
            requested: {
                options: JSON.parse(document.getElementById("requested_language_options_json").textContent),
                selected: {{ values.requested_languages|tojson }}
            }
        });
    </script>
{% endblock %}
